.scrollbox-categories {
  width: calc(100vw - var(--sidebar-width));
  overflow: hidden;
}

.categories-container {
  visibility: visible;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 16px;
  height: var(--row-height);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  column-gap: 10px;
  align-items: center;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 15px;
  padding: 0 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.category:hover {
  background-color: var(--mid-grey);
}

.category:first-child {
  color: white;
  background-color: var(--orange);
}

@media screen and (max-width: 1200px) {
  .scrollbox-categories {
    width: calc(100vw - var(--sidebar-collapsed-width));
  }
}