:root {
  /* COLORS */
  --orange: #F6AF44;
  --red: #FE0000;
  --blue: #0098FF;
  --darker-grey: #767676;
  --dark-grey: #C1C1C1;
  --mid-grey: #DFDFDF;
  --light-grey: #EBEBEB;

  --logo-color: var(--orange);

  /* SIZES */
  --row-height: 50px;
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 62px;
}