header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0 4px 2px -2px var(--dark-grey);
}

.logo-container {
  color: var(--orange);
  font-size: 2em;
  margin-right: 20px;
  white-space: nowrap;
  user-select: none;
}

.logo-container,
.search-btn,
.voice-search,
.notification,
.profile {
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  min-width: 150px;
}

.search-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.search-container input {
  border: 2px solid var(--mid-grey);
  border-radius: 5px 0 0 5px;
  padding: 5px;
  width: 100%;
  height: 30px;
}

.search-container input:focus {
  border-color: var(--blue);
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  border: 2px solid var(--mid-grey);
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-color: var(--light-grey);
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
}

.search-btn:hover {
  background-color: var(--mid-grey);
}

.voice-search,
.notification {
  color: var(--dark-grey);
  font-size: 1.4rem;
}

.voice-search:hover,
.notification:hover {
  color: var(--darker-grey);
}

.voice-search {
  width: 30px;
  height: 30px;
}

.user-menu-container {
  display: flex;
  flex-direction: row;
}

.notification,
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.notification {
  margin: auto 10px;
}

.profile {
  background-color: var(--orange);
  border-radius: 50%;
}

.profile:hover {
  background-color: var(--mid-grey);
}

.profile:hover .profile-menu {
  display: block;
}

.profile-menu {
  display: none;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 50px;
  right: 15px;
  border: 2px solid var(--light-grey);
  width: 150px;
}

.profile-menu li {
  padding: 7px 12px;
}

.profile-menu li:last-child {
  color: var(--red);
  border-top: 1px solid var(--dark-grey);
}

.profile-menu li:hover {
  background-color: var(--light-grey);
}

.profile-menu i {
  padding-right: 7px;
}