@import url(./reset.css);
@import url(./const.css);
@import url(./header.css);
@import url(./side-panel.css);
@import url(./categories.css);
@import url(./videos.css);
@import url(./footer.css);

* {
  box-sizing: border-box;
}

body {
  height: calc(100vh - 55px); /*subtract header height*/
}

main {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}

main:hover,
main:focus {
  visibility: visible;
}

.main-scrollbox {
  visibility: visible;
  min-height: 100%;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}