.side-panel {
  background-color: var(--light-grey);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scrollbox-streamers {
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}

.streamers-list,
.scrollbox-streamers:hover,
.scrollbox-streamers:focus {
  visibility: visible;
}

.streamer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--row-height);
  width: 100%;
  padding: 0 16px;
}

.streamer-info:hover {
  background-color: var(--mid-grey);
  cursor: pointer;
}

.streamer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

.name {
  margin-left: 10px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.online {
  width: 7px;
  height: 7px;
  margin-right: 5px;
  background-color: var(--red);
  border-radius: 50%;
  animation: pulse 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.0);
  }
}

.info-block-wrapper {
  border-top: 1px solid white;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mid-grey);
  padding: 20px;
  margin: 20px;
}

.motto {
  text-align: center;
  margin-bottom: 10px;
}

.motto::selection {
  background-color: var(--orange);
  color: white;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.4em;
  width: 100%;
}

.social-icon:hover {
  cursor: pointer;
  color: var(--blue);
  transition: linear color 0.2s;
}

@media screen and (max-width: 1200px) {
  .name,
  .counter,
  .online,
  .info-block-wrapper {
    display: none;
  }

  .side-panel {
    width: var(--sidebar-collapsed-width);
  }
}