.videos-panel {
  display: grid;
  margin: 0 16px;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px 16px;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.carousel img {
  width: 400px;
}

.video-preview {
  position: relative;
  font-size: 0.8rem;
  color: white;
}

.video-preview:hover:after,
.live,
.video-counter,
.video-avatar,
.video-author,
.video-title,
.more-actions {
  cursor: pointer;
}

.video-preview:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.video-preview:after {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-size: 2.6rem;
  font-weight: 600;
  content: "\f1b0";
  color: white;
  opacity: 0;
}

.video-preview:hover:after,
.video-preview:hover:before {
  opacity: 1;
  transition: ease-in opacity 0.25s;
} 

.video-preview img {
  width: 100%;
}

.live {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--red);
  font-weight: bold;
  text-transform: uppercase;
}

.video-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 6px 4px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.video-info-content {
  display: flex;
  flex-direction: row;
}

.video-avatar img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}

.video-title {
  margin-bottom: 3px;
}

.video-author {
  color: grey;
  font-size: 0.8rem;
}

.video-title:hover,
.video-author:hover {
  color: var(--blue);
}

.more-actions {
  align-self: flex-start;
  margin-right: 10px;
}